<div class="row content mt-3">
  <div class="col-md-4">
    <%= image_tag image_for(@location) , alt: "", class: 'mt-2', style: 'width:100%;' %>
  </div>
  <div class="col-md-8">
    <h1><%= @location.name %></h1>
    <p><%= @location.description %></p>
    <% if can? :edit, @location %>
    <%= link_to 'Edit', edit_location_path(@location), class: 'btn btn-info'%>
    <%= link_to 'Delete', location_path(@location), method: :delete, class: 'btn btn-danger', data: { confirm: "Really delete #{@location.name}"} %>
    <% end %>
    <%= link_to 'Back', locations_path, class: 'btn btn-primary' %> 
  </div>
</div>


<%# Show button to create list only if user has already signed in and hasn't created a list %>
<% if user_signed_in? %>
  <%if current_user.users_locations.exists?(location_id: @location.id) == false %>
    <%= button_to 'Create List', {controller: :users_locations, action: :create, location_id: @location.id, method: :post}, class: 'btn btn-primary'%>
  <% else %>
<%# Otherwise just print the list of items %>
<h3 style="margin-top: 20px">Your list of gear:</h3>
    <% relationship = current_user.users_locations.find_by(location_id: @location.id) %>
    <% lists = List.where(users_location_id: relationship.id) %>
    <ul>
    <% lists.each do |list| %>
    <li>
      <%= Gear.find(list.gear_id).name%>
      <%= list.quantity %>
    </li>
    <% end %>
    </ul>
    <% p relationship.id%>
    <div>
    <%= link_to 'Edit list', controller: :users_locations, action: :index, users_location_id: relationship.id %>
    </div>
  <% end %>
<% end %>
